import(methods)
import(gdsfmt)
import(SeqArray)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(Biobase)
importFrom(GWASExactHW, HWExact)
importFrom(stringr, str_count)

importMethodsFrom(VariantAnnotation, isSNV)

exportClasses(SeqVarData)

exportMethods(sampleData, "sampleData<-",
              applyMethod,
              refChar,
              altChar,
              nAlleles,
              isVariant,
              isSNV,
              getGenotype,
              getGenotypeAlleles,
              refDosage,
              getVariableLengthData,
              titv,
              alleleFrequency,
              missingGenotypeRate,
              heterozygosity,
              homozygosity,
              pca,
              hwe,
              inbreedCoeff,
              meanBySample,
              mendelErr,
              duplicateDiscordance,
              alternateAlleleDetection)

export(SeqVarData,
       setVariantID)
