importFrom(grDevices, adjustcolor)
importFrom(graphics, abline, plot, text)
importFrom(stats, as.formula, binom.test, binomial, coef,
           glm, lm, model.matrix, pchisq, qchisq, setNames,
           vcov)

import(methods)
import(gdsfmt)
import(SeqArray)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(Biobase)
import(logistf)
importFrom(GWASExactHW, HWExact)
importFrom(stringr, str_count)

exportClasses(SeqVarData,
              SeqVarBlockIterator,
              SeqVarRangeIterator,
              SeqVarWindowIterator)

exportMethods(sampleData, "sampleData<-",
              variantData, "variantData<-",
              granges,
              variantBlock,
              lastVariant, "lastVariant<-",
              variantRanges,
              lastRange, "lastRange<-",
              iterateFilter,
              restoreFilter,
              applyMethod,
              refChar,
              altChar,
              nAlleles,
              isVariant,
              isSNV,
              getGenotype,
              getGenotypeAlleles,
              refDosage,
              altDosage,
              alleleDosage,
              getVariableLengthData,
              titv,
              alleleFrequency,
              missingGenotypeRate,
              heterozygosity,
              hethom,
              homozygosity,
              meanBySample,
              countSingletons,
              pca,
              hwe,
              inbreedCoeff,
              mendelErr,
              duplicateDiscordance,
              alternateAlleleDetection,
              refFrac,
              refFracOverHets,
              refFracPlot,
              regression)

export(SeqVarData,
       SeqVarBlockIterator,
       SeqVarRangeIterator,
       SeqVarWindowIterator,
       setVariantID)
